[Record]
read_weight_path: 
write_weight_folder: ../training/test0202_ortho6d/weight/
write_bvh_motion_folder: ../training/test0202_ortho6d/tmp_bvh/
logdir: ../training/test0202_ortho6d/log/


[Dances]
dance1: ../data/quat_data_train/
dance1_fr: 60


[Params] 
lr_ae: 0.00001


target_frame_rate: 60


min_dance_seq_len: 18
start_iteration: 0
total_iteration: 9000000
save_bvh_iteration: 10000
save_weight_iteration: 10000

out_rotation_mode: ortho6d

weight_pose: 1.0
weight_pose_hip: 10.0
weight_twist: 0.0
weight_rotation_matrix: 0.0


loss_rmat_only_on_hip: 1

device: 1


