[Record]
read_weight_path: 
write_weight_folder: ../train/test0102_plane_ortho6d/weight/
logdir: ../train/test0102_plane_ortho6d/log/


[Shapes]
shape1: ../pc_plane/points/


[Params] 
lr: 0.00001

start_iteration: 0
total_iteration: 9000000
save_weight_iteration: 10000

out_rotation_mode: ortho6d

weight_pose: 0.0
weight_rmat: 1.0
weight_geodesic: 0.0

batch:10

device: 0


